/*My Styles*/

#logo{
	width: 100%;
	max-width: 300px;
	display: block;
	margin: 0 auto;
}


.footer-button-left,
.footer-button-right {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0.24em;
}
.footer-button-left {
    left: 0.4em;
}
.footer-button-right {
    right: 0.4em;
}


